body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

li {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}